<a href="https://colab.research.google.com/github/JaySanthanam/Programming-for-data/blob/main/Projects/Work_in_progress/Automate_differences.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Test code for automated output file

In [1]:
import pandas as pd
import numpy as np

def get_data(url): # this function gets data stored as csv file from a given url
  df = pd.read_csv(url)
  return df

url = "https://raw.githubusercontent.com/JaySanthanam/Programming-for-data/main/Datasets/test_new.csv"
new_df = get_data(url)
url = "https://raw.githubusercontent.com/JaySanthanam/Programming-for-data/main/Datasets/test_old.csv"
old_df = get_data(url)

In [2]:
old_df.equals(new_df)

False

In [3]:
comparison_values = old_df.values == new_df.values
print(comparison_values)

[[ True  True  True ...  True  True  True]
 [ True  True  True ...  True  True  True]
 [ True  True  True ...  True  True  True]
 ...
 [ True  True  True ...  True  True  True]
 [ True  True  True ...  True  True  True]
 [ True  True  True ...  True  True  True]]

In [4]:
import numpy as np
rows,cols=np.where(comparison_values==False)

In [5]:
out_df = old_df

In [21]:
for item in zip(rows,cols):
    if old_df.iloc[item] != new_df.iloc[item]:
       out_df.iloc[item[0], item[1]] = '{} --> {}'.format(old_df.iloc[item[0], item[1]],new_df.iloc[item[0], item[1]])

In [7]:
out_df = out_df.dropna(how='all', axis=0)
out_df

,Code,LocalAuthority,Year,LA_IndicatorReal,LA_Numerator_real,LA_Den_Real,Scotland_Indicator_Real,Scotland_Num_Real,Scotland_Den_Real,FG_Avg_Indicator_Real,FG_Avg_Num_Real,FG_Avg_Den_Real,FamilyGroup
0,C&L01,Aberdeen City,2010-11,0.406679,785.018799,1922292,4.374884,198956.0517,45459818 --> 45458000,4.285538,10653.672510,2200418.875,Urban
1,C&L01,Aberdeen City,2011-12,0.922524,1886.603428,2045051,3.916959,188806.0265,48202343,4.175469,10198.311630,2355970.750,Urban
2,C&L01,Aberdeen City,2012-13,4.335545,9381.043169,2163756,3.734560,192795.1341,51624697,4.353732,11272.603250,2601296.500,Urban
3,C&L01,Aberdeen City,2013-14,4.044078,8988.323761,2222588,3.710667,197855.9712,53320837,4.355361,11913.659010,2660076.250,Urban
4,C&L01,Aberdeen City,2014-15,3.476122,8645.573117,2487138,3.408087,179623.6567,52705262,4.064669,10315.283210,2672126.125,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,C&L01,West Lothian,2017-18,1.843244,4510.75788,2447198,2.987480,161301.3605,53992733,2.807878,4044.321994,1546902.375,3
380,C&L01,West Lothian,2018-19,2.39443,6097.571345,2546572,2.816481,153571.2585,54526069,2.461670,3848.310310,1594924.750,3
381,C&L01,West Lothian,2019-20,2.007365,5049.269872,2515378,2.885778,150191.5886,52045545,2.611569,3730.029529,1497042.250,3
382,C&L01,West Lothian,2020-21,22.000649,4619.323346,209962,41.360023,188666.6714,4561548,56.111328,4281.674517,119839.625,3
383,C&L01,West Lothian,2021-22,2.075107,2983.564522,1437783,6.433923,170577.7577,26512151,7.004360,3544.731442,708714.500,3

In [16]:
out_df.to_csv(r'C:\Users\santhanam.jayanthi\Desktop\out_df.csv',index=False, header=True)

In [23]:
out1_df = old_df
out1_df = out1_df.rename(columns={'LA_IndicatorReal': 'LA_IndicatorRealOldValue', 'LA_Numerator_real': 'LA_Numerator_realOldValue','LA_Den_Real': 'LA_Den_RealOldValue', 'Scotland_Indicator_Real':'Scotland_Indicator_Real_OldValue','Scotland_Num_Real':'Scotland_Num_Real_OldValue','Scotland_Den_Real': 'Scotland_Den_RealOldValue',	'FG_Avg_Indicator_Real':'FG_Avg_Indicator_Real_OldValue',	'FG_Avg_Num_Real':'FG_Avg_Num_Real_OldValue',	'FG_Avg_Den_Real':'FG_Avg_Den_Real_OldValue'})

In [24]:
out1_df

,Code,LocalAuthority,Year,LA_IndicatorRealOldValue,LA_Numerator_realOldValue,LA_Den_RealOldValue,Scotland_Indicator_Real_OldValue,Scotland_Num_Real_OldValue,Scotland_Den_RealOldValue,FG_Avg_Indicator_Real_OldValue,FG_Avg_Num_Real_OldValue,FG_Avg_Den_Real_OldValue,FamilyGroup
0,C&L01,Aberdeen City,2010-11,0.406679,785.018799,1922292,4.374884,198956.0517,45459818 --> 45458000,4.285538,10653.672510,2200418.875,Urban
1,C&L01,Aberdeen City,2011-12,0.922524,1886.603428,2045051,3.916959,188806.0265,48202343,4.175469,10198.311630,2355970.750,Urban
2,C&L01,Aberdeen City,2012-13,4.335545,9381.043169,2163756,3.734560,192795.1341,51624697,4.353732,11272.603250,2601296.500,Urban
3,C&L01,Aberdeen City,2013-14,4.044078,8988.323761,2222588,3.710667,197855.9712,53320837,4.355361,11913.659010,2660076.250,Urban
4,C&L01,Aberdeen City,2014-15,3.476122,8645.573117,2487138,3.408087,179623.6567,52705262,4.064669,10315.283210,2672126.125,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,C&L01,West Lothian,2017-18,1.843244,4510.75788,2447198,2.987480,161301.3605,53992733,2.807878,4044.321994,1546902.375,3
380,C&L01,West Lothian,2018-19,2.39443,6097.571345,2546572,2.816481,153571.2585,54526069,2.461670,3848.310310,1594924.750,3
381,C&L01,West Lothian,2019-20,2.007365,5049.269872,2515378,2.885778,150191.5886,52045545,2.611569,3730.029529,1497042.250,3
382,C&L01,West Lothian,2020-21,22.000649,4619.323346,209962,41.360023,188666.6714,4561548,56.111328,4281.674517,119839.625,3
383,C&L01,West Lothian,2021-22,2.075107,2983.564522,1437783,6.433923,170577.7577,26512151,7.004360,3544.731442,708714.500,3

In [ ]:
for item in zip(rows,cols):
    if old_df.iloc[item] != new_df.iloc[item]:
       out1_df.iloc[item[0], item[1]] = '{} --> {}'.format(old_df.iloc[item[0], item[1]],new_df.iloc[item[0], item[1]])